{% extends "first_app/base.html" %}

{% block body_block %}
<h2>Musician form</h2>

<!-- <button><a href="{% url 'first_app:index' %}">BACK</a></button> -->
    <a href="/db_test/">Back</a>
    <form action="" method="POST">
        {{musician_form.as_p}}
                           <!-- as_p means show them as paragraph . niche line by line korar jnno -->
        {% csrf_token %}
        <input type="submit" name="test_field" value="Add" class="btn btn-primary btn-sml">
    </form>


{% endblock %}

